body {
    background: #282D35;
}

main {
    padding: 57px 27px;
    background-image: url(../../images/background-react-logo.png);
    background-repeat: no-repeat;
    background-position: right 75%;
}

.main--title {
    font-weight: 700;
    font-size: 40px;
    color: white;
    margin-bottom: 46px;
    margin-left: 27px;
    letter-spacing: -0.05em;
}

.main--list {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-left: 50px;
}

.main--list > li {
    line-height: 19px;
    padding-block: 10px;
    max-width: 400px;
    list-style-type: disc;
    list-style-position: outside;
}

.main--list > li::marker {
    color: #61DAFB;
    font-size: 1.4rem;
}

